body{
 background-color: #F0F0F0;
}
.Div{
    background-color: white;
    width: 100%;
    }
.welcomeImg{
    width: 100%;
    height: 20%;
}
#HeadDiv{
     background-color: #87CEFA;
     border-bottom-style:groove;
     border-top-style: groove;
}
.headBtn{
   margin-left: 10px;
   margin-top: 5px;
   margin-bottom: 5px;
}
#MyBtn{
    width: 20%;
}
#fmBtn{
    width: 30%;
}
.shouTing{
 height: 30px;
}
.shouTingText{
    margin-top: 5px;
}
.shouCang{
    height:30px;
}
#rankBtn{
width: 30%;
}
.searchLogo{
    margin: 6px;
    float: right;
}
.TwoSameDiv{
     border-bottom-style:groove;
     background-color: white;
    text-align: left;
    border-width: 1px;
}
.twoSameImg{
    margin-top: 20px;
    width: 20%;
    }
.fourSameDivTitle{
    position: relative;
    top: -10px;
    font-family: fantasy;
    font-size: 20px;
    font-weight: bolder;
}
.firstSmallTitle{
    position: relative;
    top: 10px;
    right: 90px;
    font-size: 12px;
     margin: 3px;
}
.secondSmallTitle{
    position: relative;
    top: 23px;
    right: 150px;
    font-size: 12px;
     margin: 3px;
     padding-top: 3px;
}

.bottomDiv{
 background: white;
    height:50px;
    border-bottom-style: groove;
    border-width: 1px;
}
.bottomText{
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
}
.rightLabel{
    margin-right: 5px;
    margin-top: 5px;
    float: right;
}



.rank-list{
    background-color: white;
    height: 100px;
}
.rank-list-title{
    height: 35px;
    padding-top: 10px;
}
.rank-list-detail-line{
    height: 20px;
    padding-top: 0px;
    font-size: 12px;
    padding-left: 30px;
}
.rank-list-detail-second-line{
    height: 30px;
    padding-top: 0px;
    font-size: 12px;
    padding-left: 30px;
}
.list-picture-test{
    background-color: blue;
}
.rank-list-picture{
    padding-top: 10px;
    height: 90px;
    display: inline-block;
    line-height: 90px;
}
.list-picture{
    width: 75px;
    height: 75px;
}
.rank-bottom-blank{
    height: 30px;
}
