.HeadDiv{
  text-align: center;
  font-size: 30px;
background-color: lightgray;
}
#titleText{
    text-align: center;
}
.inputClass{
   text-align: center;
   width: 100%;
}
.passwordsInput{
    width: 50%;
    margin: 5px;
}
.forgetBtn{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    width: 30%;
}
.QQLogin{
    float: right;
     margin-right:10%;
    margin-top: 5%;
    width: 30%;
}
.underLineButton{
    display: inline-block;
    width: 50%;
    background-color: aquamarine;
    margin: 10px;
}
