.HeadDiv{
    width: 100%;
    height: 50px;
    border-style: groove;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}
.bottomInput{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    margin: 10px;
    margin-right: 10px;
}
.youKeShu{
    font-family: fantasy;
    font-size: 8px;
    font-style: normal;
    color: #0000FF;
}
.LiuYan{
    border-bottom-style: groove;
}